Trunk/PPC Manager/PPC Manager/SpeicherStandSchema.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://PPCManager/SpeicherStand">
  <xs:element name="PPCTurnier">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="Spieler">
          <xs:complexType>
            <xs:attribute name="Vorname" type="xs:string" use="optional" />
            <xs:attribute name="Nachname" type="xs:string" use="required" />
            <xs:attribute name="Verein" type="xs:string" use="required" />
            <xs:attribute name="SpielKlasse" type="xs:string" use="required" />
            <xs:attribute name="StartNummer" type="xs:unsignedByte" use="required" />
            <xs:attribute name="FreilosInRunde" type="xs:unsignedByte" use="required" />
            <xs:attribute name="Position" type="xs:unsignedByte" use="required" />
            <xs:attribute name="TurnierKlasse" type="xs:string" use="optional" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>