Trunk/PPC Manager/PPC Manager/SpeicherStandSchema.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" 
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns="http://PPCManager/SpeicherStand"
           targetNamespace="http://PPCManager/SpeicherStand">
  <xs:element name="PPCTurnier">
    <xs:complexType>      
      <xs:sequence maxOccurs="unbounded">
        <xs:element name="AktiveSpieler">
          <xs:complexType>
            <xs:sequence maxOccurs="unbounded">
              <xs:element name="Spieler" type="SpielerType"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="AusgeschiedeneSpieler">
          <xs:complexType>
            <xs:sequence maxOccurs="unbounded">
              <xs:element name="Spieler" type="SpielerType"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="SpielRunden">
          <xs:complexType>
            <xs:sequence maxOccurs="unbounded">
              <xs:element name="SpielRunde" type="SpielRundeType"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>

      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:complexType name="SpielerType">
    <xs:attribute name="Vorname" type="xs:string" use="optional" />
    <xs:attribute name="Nachname" type="xs:string" use="required" />
    <xs:attribute name="Verein" type="xs:string" use="required" />
    <xs:attribute name="SpielKlasse" type="xs:string" use="required" />
    <xs:attribute name="StartNummer" type="xs:unsignedByte" use="required" />
    <xs:attribute name="FreilosInRunde" type="xs:unsignedByte" use="required" />
    <xs:attribute name="Position" type="xs:unsignedByte" use="required" />
    <xs:attribute name="TurnierKlasse" type="xs:string" use="optional" />
  </xs:complexType>

  <xs:complexType name="SpielRundeType">
    <xs:sequence>
      <xs:element name="SpielPartie" type="SpielPartieType"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="SpielPartieType">
    <xs:attribute name="SpielerA" type="xs:int" use="required" />
    <xs:attribute name="SpielerB" type="xs:int" use="required" />
    <xs:attribute name="ErgebnisA" type="xs:unsignedByte" use="required" />
    <xs:attribute name="ErgebnisB" type="xs:unsignedByte" use="required" />
  </xs:complexType>
  
</xs:schema>